<!-- Start: header -->
<header class="header">
	<div class="header__nav">
		<a href="" class="header__logo" aria-label="logo" alt="logo">
			<img src="images/logo.png" alt="logo">
		</a>
		<nav class="header__nav_menu">
			<a href="/" class="link">Host your Goods</a>
			<div class="language">
				<img src="lang.svg" alt="language">
			</div>
			<div class="dropdown">
				<button class="dropdown__btn">
					<span></span>
					<img src="images/user.png" alt="user">
				</button>
				<ul class="dropdown__content">
					<li class="dropdown__item">
						<a href="/" class="dropdown__link">Rent a transport</a>
					</li>
					<li class="dropdown__item">
						<a href="/" class="dropdown__link">Order cleaning</a>
					</li>
					<li class="dropdown__item">
						<a href="/" class="dropdown__link">Registration</a>
					</li>
					<li class="dropdown__item">
						<a href="/" class="dropdown__link">Login</a>
					</li>
					<li class="dropdown__item">
						<a href="/" class="dropdown__link">Host your Goods</a>
					</li>
					<li class="dropdown__item">
						<a href="/" class="dropdown__link">Help</a>
					</li>
				</ul>
			</div>
		</nav>
	</div>
</header>
<!-- End: header -->