.overlay {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, 0.18);
	z-index: 20;
	transition: .4s all;
	opacity: 0;
	visibility: hidden;
}

.disable-scroll {
	position: fixed;
	overflow: hidden;
	height: 100vh;
	top: 0;
	left: 0;
	width: 100%;
}

.modal {
	position: fixed;
	width: 95vw;
	max-width: 780px;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	z-index: 30;
	padding: 20px 32px 24px;
	// border: 1px solid #888;
	border: 1px solid #f90;
	border-radius: 16px;
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
	background-color: #fefefe;
	opacity: 0;
	visibility: hidden;
}

.modal.active,
.overlay.active {
	opacity: 1;
	visibility: visible;
}

.modal_title {
	font-size: 30px;
	font-weight: 600;
	margin-bottom: 32px;
	text-align: center;
}

.order__form {}

.order__form_wrapper {
	display: flex;
	justify-content: space-between;
}

.order__form_left {
	width: 55%;
}

.order__form_right {
	flex: 1;
	display: flex;
	flex-direction: column;
	max-width: 300px;

	.order {
		margin-top: auto;
	}
}

.order__form_title {
	font-size: 14px;
	margin-bottom: 8px;

	span {
		font-weight: 700;
		font-size: 16px;
	}
}

.order__form_subtitle {
	font-weight: 700;
	font-size: 14px;

	.result {
		font-size: 24px;
		font-weight: 700;
		color: #f90;
		margin-left: 8px;
	}
}

.modal-close {
	position: absolute;
	width: 32px;
	height: 32px;
	top: 12px;
	right: 12px;
	cursor: pointer;

	@media (hover: hover) {
		&:hover svg path {
			transition: all 0.3s ease-out;
			stroke: #000;
		}
	}

	&:active svg path {
		stroke: #000;
	}
}

.hours__wrapper {
	display: flex;
	margin-bottom: 10px;
	overflow: hidden;
}

.hours__wrapper_info {
	display: flex;
	align-items: center;
	justify-content: space-around;
	max-width: 300px;
	margin-bottom: 16px;

	p {
		font-size: 12px;
		max-width: 90px;
		font-weight: 600;
	}
}

.stv-radio-button {
	opacity: 0;
	width: 0;
	height: 0;
}

.hours_item {
	display: inline-flex;
	align-items: center;
	justify-content: center;
	width: 40px;
	height: 40px;
	font-weight: 600;
	cursor: pointer;
	user-select: none;
	border: 1px solid #f90;
	margin-right: -1px;
	color: #353535;
	background-color: #fff;
}

.stv-radio-button+label:first-of-type {
	border-radius: 4px 0 0 4px;
}

.stv-radio-button+label:last-of-type {
	border-radius: 0 4px 4px 0;
}

.stv-radio-button:checked+label {
	background-color: #f90;
	font-weight: 600;
	color: #fff;
}

.tool {
	width: 150px;
}

.data__inner {
	position: relative;

	.hours-time {
		font-size: 10px;
		font-weight: 700;
		text-align: center;
	}
}

.data_title {
	display: inline-block;
	font-weight: 700;
	margin-bottom: 4px;
	font-size: 14px;
}

.data__input,
.pikaday__display {
	border: 1px solid #aaa;
	border-radius: 4px;
	height: 40px;
	font-size: 14px;
	padding: 0 14px;
	max-width: 300px;
	width: 100%;

	@media (hover: hover) {
		&:hover {
			border: 1px solid rgb(116, 116, 116);
		}
	}

	&:focus {
		border: 2px solid #f90;
		padding: 0 13px;
	}

	#picker {
		cursor: pointer;
	}
}

#appt {
	width: 94%;
}

#appt:invalid+span::after {
	position: absolute;
	content: "✖";
	padding-left: 5px;
	top: 34px;
}

#appt:valid+span::after {
	position: absolute;
	content: "✓";
	padding-left: 5px;
	top: 32px;
}

// order modal

.order__modal {
	border: 1px solid #f90;
}

.order__modal_inner {
	display: flex;
	align-items: center;
	justify-content: center;
	max-width: 80%;
	margin: 0 auto;

	&:not(:last-child) {
		margin: 0 auto 32px;
	}
}

.order__modal_btn {
	height: 42px;
	font-size: 18px;
}