@import 'null';
@import 'global';
@import 'header';
@import 'main';
@import 'footer';
@import 'modal-order';
@import 'after-before';
@import 'sliders';
@import 'select';
@import 'date';
@import 'accordion';

html,
body {
	position: relative;
	height: 100%;
	width: 100%;
}

body {
	font-family: 'Open Sans', sans-serif;
	color: #717171;
	line-height: 1.5;
}

a {
	color: #717171;
	transition: all 0.2s;

	@media (hover: hover) {
		&:hover {
			color: #f90;
		}
	}

	&:active {
		color: #f90;
	}
}

.wrapper {
	width: 100%;
	min-height: 100%;
	overflow: hidden;
}